<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <title>Contacto| Huellitas Petshop</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/e7963be4ed.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
    <link rel="stylesheet" href="./assets/styles/index.css">
    <link rel="stylesheet" href="./assets/styles/footer.css">
  </head>
  <body>
    <div id="appContacto">
      <header>
        <nav class="navbar navbar-expand-lg  container-fluid">
          <div class="container-fluid w-100">
            <a class="navbar-brand ms-3 col-6" href="./index.html">
              <img src="./assets/images/LOGO_HUELLITAS.png" alt="logo" class="imglogo col-10 col-md-5 foto-logo " >
            </a>
            <div @click="toggleMenuF" class="icono-hamburguesa">
              <i class="fa-solid fa-bars"></i>
            </div>
            <div class="d-none d-lg-block" :class="{ 'navMovil' : navMenu}">
              <ul class="navbar-nav">
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" aria-current="page" href="./index.html">INICIO</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" href="./contacto.html">CONTACTO</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" href="./farmacia.html">FARMACIA</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" href="./juguete.html">JUGUETES</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" href="./faq.html">FAQ</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link text-center fw-bold" href="./login.html">LOGIN</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
      </header>
        
      <main>
        <div class="d-flex justify-content-end titulo"style="height: 60px;">
            <h1><strong>CONTÁCTANOS</strong></h1>
        </div>
      <div  class="formulario d-flex justify-content-center border-dark border-1">
        <div class="formularioAdentro p-3 mb-2 bg-light text-dark col-lg-6 col-mg-7 col-sm-8 col-10 ">
          <div class="logo-formulario"> <img src="./assets/images/logopetshop.png" alt="FORMULARIO"> </div>
          <form>
            <div class="mb-3">
              <label for="exampleFormControlInput1" class="form-label">Nombre y apellido</label>
              <input v-model="nombreUsuario" type="text" class="form-control" id="exampleFormControlInput1"
                placeholder="Nombre Completo">
            </div>
            <div class="mb-3">
              <label for="tel">Teléfono</label>
              <input  v-model="telefonoUsuario" id="tel" type="number" placeholder="   123456789">
            </div>
            <div class="mb-3">
              <div class="mb-3">
                <label for="tel">Email</label>
                <input  v-model="emailUsuario" id="email" type="email" placeholder="   usuario@email.com...">
              </div>
              <select v-model="mascota" name="animal" id="">
                <option value="">Selecione su mascota</option>
                <option value="perro">Perro</option>
                <option value="gato">Gato</option>
                <option value="otra">Otra</option>
              </select>
              <div v-if="mascota=='otra'">
                <p>Ingrese su mascota</p>
                <input type="text" id="otraMascotaTA" v-model="otraMascota" 
                  placeholder="Ingrese su mascota">
              </div>
            </div>
            <div class="mb-3">
              <label for="coment">Mensaje</label>
              <textarea v-model="mensaje"  placeholder="Escriba su mensaje" name="" rows="6"
                cols="50"></textarea>
            </div>
  
            <!-- Modal -->
            <div class="modal fade" @click="limpiarForm" id="exampleModal" tabindex="-1"
              aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog modal-dialog modal-dialog-centered">
                <div class="modal-content">
                  <div class="modal-header">
                    <div class="logo-modal"><img src="./assets/images/logopetshop.png" alt="ENVIADO"></div>
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Enviado!</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <h4> Hemos recibido su consulta!</h4>
                    <p>Su nombre: {{nombreUsuario? nombreUsuario : 'No Ingresó'}} </p>
                    <p>Su Email: {{emailUsuario? emailUsuario : 'No Ingresó'}} </p>
                    <p>Su teléfono: {{telefonoUsuario? telefonoUsuario : 'No Ingresó'}} </p>
                    <p> Su mascota: {{otraMascota ? otraMascota : mascota? mascota : 'No tiene mascota'}} </p>
                    <p> Su mensaje: {{mensaje? mensaje : 'No dejó mensaje :('}} </p>
                    <h4>Nos pondremos en contacto brevemente</h4>
                  </div>
                  <div class="modal-footer">
                    <button @click="limpiarForm" type="button" class="btn btn-secondary"
                      data-bs-dismiss="modal">Cerrar</button>
                    <button @click="limpiarForm" type="button" class="btn btn-primary">Enviar otro comentario</button>
                  </div>
                </div>
              </div>
            </div>
            <button type="button" @click="localStorageComentario()" class="btn btn-primary" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Enviar</button><!-- <button type="submit" class="btn btn-dark" v-on:submit.stop.prevent="log('clicked!')"  >Submit</button> -->
          </form>
        </div>
      </div>
      
      
  </main>
  <!--Footer-->
    
  <footer>
    <div ><iframe class="mapa__footer"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2430437270705!2d-58.40568006998262!3d-34.598015217965106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1673755184930!5m2!1ses-419!2scl"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contenedor__footer">
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">CONTACTO</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">email: huellitas@petshop.arg</p>
        <p class="mb-0 text-white">teléfono: +54 9 11 5555-5974</p>
      </div>
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">HORARIOS DE ATENCIÓN</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">Lunes a Sábados</p>
        <p class="mb-0 text-white">9:00 a 18:00 hrs.</p>
      </div>
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">SÍGUENOS</h5>
        <hr class="my-0 text-white">
        <div class="redes__footer">
          <div ><a class="link-dark-hover text-muted" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-2x text-white icono-redes"></i></a></div>
        </div>
      </div>
      <div>
        <h5 class="mb-0 text-white fw-bold">FORMAS DE PAGO</h5>
        <hr class="my-0 text-white mt-3">
        <div class="pagos__footer">
          <img class="" src="./assets/images/mediosPago.png" alt="metodos de pago">
        </div>
      </div>
    </div>
   </footer>
   <section class="section__footer">
    <p class="footer-p"><i class="fas fa-copyright"></i>&nbsp;2023-Todos los derechos reservados-Huellitas-Cohorte 41</p>
  </section>
    </div>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/scripts/contacto.js"></script>
</body>
</html>