<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
  <title>Contacto| Huellitas Petshop</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/styles/style.css" />
</head>

<body>
  <header>
    <nav class="navbar navbar-expand-lg navbar-dark bg-black container-fluid">
      <div class="container-fluid w-100">
        <a class="navbar-brand ms-3" href="#">
          <img src="./assets/images/logopetshop.png" alt="logo" class="logohuellitas col-md-5 ">
        </a>
        <button class="navbar-toggler border-0 bgb px-3 py-1" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
          aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse show" id="navbarSupportedContent">
          <ul class="navbar-nav d-flex  ms-auto">
            <li class="nav-item navbar-dark bg-black">
              <a class="nav-link navbar-dark bg-black" aria-current="page" href="./index.html">INICIO</a>
            </li>
            <li class="nav-item navbar-dark bg-black">
              <a class="nav-link navbar-dark bg-black" href="#">CONTACTO</a>
            </li>
            <li class="nav-item navbar-dark bg-black">
              <a class="nav-link navbar-dark bg-black" href="./farmacia.html">FARMACIA</a>
            </li>
            <li class="nav-item navbar-dark bg-black">
              <a class="nav-link navbar-dark bg-black" href="./juguete.html">JUGUETES</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main>
    <div id="appContacto" class="formulario d-flex justify-content-center border-dark border-1">
      <div class="formularioAdentro p-3 mb-2 bg-light text-dark col-lg-6 col-mg-7 col-sm-8 col-10 ">
        <form>
          <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Nombre y apellido</label>
            <input v-model="nombreUsuario" type="text" class="form-control" id="exampleFormControlInput1" placeholder="Nombre Completo">
          </div>
          <div class="mb-3">
            <label for="tel">Teléfono</label>
            <input  v-model="telefonoUsuario" id="tel" type="tel">
          </div>
          <div class="mb-3">
            <select v-model="mascota" name="animal" id="">
              <option value="">Selecione tipo de mascota</option>
              <option value="perro">Perro</option>
              <option value="gato">Gato</option>
              <option value="otra">Otra</option>
            </select>
            <div v-if="mascota=='otra'">
              <p>Ingrese su mascota</p>
              <input type="text" id="otraMascotaTA" v-model="otraMascota" @keyup="logmensaje" placeholder="Ingrese su mascota">
            </div>
          </div>
          <div class="mb-3">
            <label for="coment">Comentarios</label>
            <textarea v-model="mensaje" @keyup="logmensaje" placeholder="Escriba su mensaje" name="" rows="6"
              cols="50"></textarea>
          </div>


          <!-- Modal -->
          <div class="modal fade" @click="recargarPagina" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog modal-dialog modal-dialog-centered">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Enviado</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <p> Gracias por su comentario!</p>
                  <p>Su nombre: {{nombreUsuario}} </p>
                  <p>Su teléfono:  {{telefonoUsuario? telefonoUsuario : 'No Ingreso'}} </p>
                  <p> Su mascota: {{otraMascota ? otraMascota : mascota}} </p>
                  <p> Su mensaje: {{mensaje}} </p>
                </div>
                <div class="modal-footer">
                  <button @click="recargarPagina" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                  <button @click="recargarPagina" type="button" class="btn btn-primary">Enviar otro comentario</button>
                </div>
              </div>
            </div>
          </div>
          <button type="button" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">Enviar</button><!-- <button type="submit" class="btn btn-dark" v-on:submit.stop.prevent="log('clicked!')"  >Submit</button> -->
        </form>
      </div>
    </div>


  </main>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/scripts/contacto.js"></script>
</body>

</html>
