<!doctype html>
<html lang="es">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <title>Farmacia | Huellitas Petshop</title>
    <script src="https://kit.fontawesome.com/e7963be4ed.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
</head>

<body>
    <header>
        <nav class="navbar navbar-expand-lg  container-fluid">
          <div class="container-fluid w-100">
            <a class="navbar-brand ms-3 col-6" href="#">
              <img src="./assets/images/LOGO_HUELLITAS.png" alt="logo" class="imglogo col-10 col-md-5 foto-logo " >
            </a>
            <button class="navbar-toggler border-0  px-3 py-1" type="button" data-bs-toggle="collapse"
              data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true"
              aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex  ms-auto">
                  <li class="nav-item  nav-button">
                    <a class="nav-link  " aria-current="page" href="./index.html">INICIO</a>
                  </li>
                  <li class="nav-item   nav-button">
                    <a class="nav-link " href="./contacto.html">CONTACTO</a>
                  </li>
                  <li class="nav-item  nav-button">
                    <a class="nav-link " href="./farmacia.html">FARMACIA</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link" href="./juguete.html">JUGUETES</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link" href="./faq.html">FAQ</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
        <div class="d-flex justify-content-end titulo" style="height: 60px;">
            <h1><strong>FAQ</strong></h1></div>

    <main id="appFAQ">

        <div class="d-flex faq-wrapper ">
            <div class="d-flex  flex-column col-izq">

                <div id="entrega" class="" @click="" tabindex="1"> ¿CUÁNTO TARDARÁ EN LLEGAR MI PEDIDO?</div>
                <div id="defecto" class="" @click="" tabindex="2">¿QUÉ PASA SI MI PRODUCTO TIENE UN DEFECTO O
                    NO CUMPLE CON
                    LOS ESTÁNDARES DE CALIDAD?</div>

                <div id="tiempo" class="" @click="" tabindex="3">¿CUÁNTO TARDA LA devolución EN VERSE REFLEJADA EN
                    MI TARJETA?</div>
                <div id="precios" class="" @click="" tabindex="4"> ¿El precio que figura en la web es el precio
                    final?</div>
                <div id="factura" class="" @click="" tabindex="5">¿Cómo tramito la factura de mi compra? </div>
            </div>

            <div class="box-der-wrapper">
                <div class="logo-formulario"> <img src="./assets/images/logopetshop.png" alt="FAQ"> </div>
                <template v-if="boxplace">
                    <div class="faq-box-place"> Encuentre las preguntas más frecuentes aquí </div>
                </template>
                <template v-else>
                    <div class="box-der" v-if="entrega">

                        <p>Una vez que nuestro almacén termine la preparación de tu pedido recibirás un correo
                            electrónico
                            de
                            confirmación con tu guía de seguimiento.
                            adidas realizará la entrega en la dirección registrada en la orden de 4(cuatro) a 7 (siete)
                            en
                            Ciudad Autónoma de Buenos Aires y hasta 10 días hábiles en resto del país.

                            Si utilizaste nuestro Servicio Express, valida los parámetros y tiempos establecidos aquí.

                            Recordá que pódes realizar el seguimiento de tu pedido en:
                        <ol>
                            <li>Seguimiento de Pedidos: Con tu número de pedido
                            </li>
                            <li>Socio logístico: Ingresa al sitio de nuestro socio logístico OCA y Correo Argentino con
                                la
                                guía
                                de despacho asignada.</li>
                            <li> Si detectas cualquier anormalidad o retraso de entrega deberás comunicarte con nuestro
                                <a href="./contacto.html">Centro
                                    de Atención a Cliente para que podamos apoyarte.</a>
                            </li>
                        </ol>

                        Nota: Los periodos de entrega son indicativos y, por consiguiente, no se consideran fechas
                        límite
                        estrictas. El mero hecho de haber excedido un periodo de entrega no le dará ningún derecho de
                        compensación.</p>

                    </div>
                    <div class="box-der" v-if="defecto">
                        <p>Comprobamos exhaustivamente todos nuestros productos en condiciones reales para asegurarnos
                            de
                            que
                            están en óptimas condiciones para soportar los usos para los que han sido diseñados. Sin
                            embargo, a
                            veces resulta inevitable que se entregue un producto defectuoso.
                            Por ello, si tu producto no cumple con los estándares de calidad adidas y sufre algun daño
                            durante
                            su uso NORMAL:
                        <ol>
                            <li>Tienes un plazo de hasta 180 días para comunicarte con nuestro Servicio de Atención a
                                Clientes
                            </li>
                            <li> Si al momento de tu solicitud: </li>
                            <ul>
                                <li> 2.1 Contamos con el inventario para reemplazar tu producto, te haremos llegar uno
                                    nuevo.
                                </li>
                                <li> 2.2 Si no contamos con el inventario disponible, haremos el reembolso integro de tu
                                    artículo(s)</li>
                            </ul>
                        </ol>
                        </p>
                    </div>
                    <div class="box-der" v-if="tiempo">
                        <p>Si tu compra fue realizada con tarjeta de crédito, verás reflejado el reembolso en los
                            siguientes
                            12
                            días hábiles.
                            El plazo para compras efectuadas con tarjeta de débito es de 20 días hábiles.

                            La acreditación puede variar dependiendo del medio de pago utilizado en la compra y del
                            cierre
                            del
                            resumen de cuenta.

                            Si pasados los 12 días hábiles no ves reflejada la devolución, contactate con la entidad
                            emisora
                            de
                            la tarjeta.</p>
                    </div>
                    <div class="box-der" v-if="precios">
                        <p>Todos los precios en la web incluyen el IVA, y se encuentran expresados en pesos argentinos.
                        </p>
                    </div>

                    <div class="box-der" v-if="factura">
                        <p>En todas las compras efectuadas en la web,brindamos sin excepción alguna, la factura de
                            compra. Una vez que realiza y abona el pedido, enviamos a tu dirección de correo electrónico
                            la factura correspondiente.</p>
                    </div>
            </div>
            </template>
        </div>
        </div>
        <a href="./contacto.html" class="ayuda-faq">
            <p>Aún tenés dudas? Mandanos un mensaje!</p>
        </a>
    </main>
    <footer class="d-lg-flex container-fluid pt-3 text-white  pb-4">

        <!--LOGO-->
        <div class="d-md-flex col-lg-5">
          <div class="d-sm-flex col-md-6 logo-footer align-items-md-center">
              <img class="container-fluid mt-md-0" src="./assets/images/LOGO_HUELLITAS.png" alt="logo" >
          </div>
          <!--contacto-->
          <div class="col-md-6 d-md-flex flex-md-column contacto-contenedor">
            <h4 class="text-center text-lg-start text-md-start ps-lg-2 ">CONTACTO</h4>
            <div class="contacto container-fluid d-md-flex flex-lg-column p-lg-0 container-fluid justify-content-md-around">
              <div class="">
                <p class="contact text-md-start fw-bold"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; EMAIL: <a class="link-secondary link-white-hover text-decoration-none" href="mailto:huellitas@petshop.arg">huellitas@petshop.arg</a></p>
                <p class="contact text-md-start fw-bold"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; TEL: <a class="link-secondary link-white-hover text-decoration-none" href="tel:+54 9 11 5555-5974">+54 9 11 5555-5974</a></p>
              </div>
              <div>
                <p class=" text-md-start fw-bold mt-3 mt-md-0"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>&nbsp; Horarios de atención</p>
                <p class="contact">Lunes a Sabado</p>
                <p class="contact"> 9:00 a 18:00 hrs.</p>
              </div>
            </div>
          </div>
        </div>
      
        <div class="d-lg-flex ">
          <!--Mapa-->
          <div class="mt-4 d-lg-flex flex-lg-column col-lg-7 justify-content-lg-around mt-lg-0">
            <h4 class="text-center">NUESTRA TIENDA</h4>
            <ul class="nav  d-md-flex justify-content-center flex-lg-column">
              <li class="text-center"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i class="contacto-contenedor">&nbsp; Paraguay 2334, CABA</li>
              <li class="col-md-10 mx-md-auto mt-4 justify-content-md-center "><iframe class="mapSize"
                  src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2430437270705!2d-58.40568006998262!3d-34.598015217965106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1673755184930!5m2!1ses-419!2scl"
                  style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
              </li>
            </ul>
          </div>
      
          <!--Siguenos y formas de pago-->
          <div class="mt-3 col-lg-5 mt-lg-0">
            <h4 class="text-center">SÍGUENOS</h4>
            <ul class="list-unstyled d-flex justify-content-around mb-0 mt-3 mx-auto redes">
              <li ><a class="link-dark-hover text-muted" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white icono-redes"></i></a></li>
              <li ><a class="link-dark-hover text-muted" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white icono-redes"></i></a></li>
              <li ><a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-2x text-white icono-redes"></i></a></li>
      
            </ul>
            <h6 class="text-center mt-3 p-3">FORMAS DE PAGO</h6>
             <img class="imgFooterFpago row" src="./assets/images/mediosPago.png" alt="metodos de pago">
          </div>
        </div>
      
      </footer>
      <section class="section">
        <p class="footer-p"><i class="fas fa-copyright"></i>&nbsp;2023-Todos los derechos reservados-Huellitas-Cohorte 41</p>
      </section>
      
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
          integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
          crossorigin="anonymous"></script>
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/scripts/faq.js"></script>
</body>

</html>