<!doctype html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
    <title>Farmacia | Huellitas Petshop</title>
    <script src="https://kit.fontawesome.com/e7963be4ed.js" crossorigin="anonymous"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
    <link rel="stylesheet" href="./assets/styles/style.css" />
  </head>
  <body>
    <div id="app">
      <header>
        <nav class="navbar navbar-expand-lg  container-fluid">
          <div class="container-fluid w-100">
            <a class="navbar-brand ms-3  col-6" href="#">
              <img src="./assets/images/LOGO_HUELLITAS.png" alt="logo" class="imglogo col-10 col-md-6 foto-logo " >
            </a>
            <button class="navbar-toggler border-0 bgb px-3 py-1" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse show" id="navbarSupportedContent">
              <ul class="navbar-nav d-flex  ms-auto">
                  <li class="nav-item  nav-button">
                    <a class="nav-link" aria-current="page" href="./index.html">INICIO</a>
                  </li>
                  <li class="nav-item nav-button">
                    <a class="nav-link " href="./contacto.html">CONTACTO</a>
                  </li>
                  <li class="nav-item  nav-button">
                    <a class="nav-link" href="#">FARMACIA</a>
                  </li>
                  <li class="nav-item  nav-button">
                    <a class="nav-link " href="./juguete.html">JUGUETES</a>
                  </li>
                </ul>
            </div>
          </div>
        </nav>
      </header>
      <main>
        <div class="d-flex justify-content-end titulo"style="height: 60px;">
            <h1><strong>FARMACIA</strong></h1>
            <div v-if="!productosCarrito.length" class="carrito-wrapper-nav"><img class="carrito-nav" src="./assets/images/cart-nada.png" alt="CARRITO"></div>
            <div v-else class="carrito-wrapper-nav"><img class="carrito-nav" src="./assets/images/cart-nada.png" alt="CARRITO"><p class="cant-productos">{{productosCarrito.length}}</p></div>
        </div>
        

        
      </main>

      <!-- MODALES -->

      <div class="modal fade" id="modalVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Compra Confirmada</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¡GRACIAS POR SU COMPRA! Estaremos comunicandonos a la brevedad.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade modal-dialog-scrollable modal-carrito modal-lg" id="modalCarrito" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Carrito de Compras</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="w-100">
                <colgroup>
                  <col span="5" class="total">
                </colgroup>
                <thead>
                  <tr>
                    <th style="text-align: center">Nombre</th>
                    <th style="text-align: center">Precio</th>
                    <th style="text-align: center">Cantidad</th>
                    <th style="text-align: center">Subtotal</th>
                    <th style="text-align: center">Descuento</th>
                    <th style="text-align: right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="producto of productosCarrito">
                    <td style="text-align: center">  {{producto.producto}}  </td>
                    <td style="text-align: center">  $ {{producto.precio}}  </td>
                    <td style="text-align: center"><i @click="quitarDesdeCarrito(producto)" class="fa-solid fa-minus"> </i>  {{producto.cantPedida}}  <i v-if="producto.disponibles" @click="agregarDesdeCarrito(producto)" class="fa-solid fa-plus"></i><i v-else class="fa-solid fa-plus"></i></td>
                    <td style="text-align: center">  $ {{producto.subtotal}}  </td>
                    <td style="text-align: center">  $ {{producto.descuento}}</td>
                    <td style="text-align: right">  $ {{producto.total}}  </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Total de la compra:</td>
                    <td colspan="5" style="text-align: right">  $ {{totalCompra}}  </td>
                  </tr> 
                </tfoot>

              </table>
            </div>
            <div class="modal-footer">
              <button v-if="productosCarrito.length" @click="limpiarLocalStorage" type="button" class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal" data-bs-target="#modalVenta">Confirmar la compra</button>
              <button v-else type="button" class="btn btn-primary" >Confirmar la compra</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver a la Web</button>
              <button v-if="productosCarrito.length" @click="limpiarLocalStorage" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Vaciar Carrito</button>
              <button v-else type="button" class="btn btn-primary">Vaciar Carrito</button>
            </div>
          </div>
        </div>
      </div>

      <!-- CIERRA MODALES -->

      <section class="filtros-productos d-flex  ">
        <aside class="filtros-aside checkbox d-flex flex-column justify-content-start col-md-6 mx-lg-5 mx-md-auto col-lg-3 ">
          <form class="d-flex m-3 flex-column" role="search" id="search">
            <h6 >Búsqueda por producto</h6>
            <input  v-model="productosPorBusqueda" @input="filtroCruzado" class="form-control" type="search" placeholder="Ingresa el nombre de producto" aria-label="Search" id="searchField">
          </form>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6 >Elige el rango de precio</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPrecio.length" v-for="categoria of listaFiltrosPrecio" >
                <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name="" :id="listaFiltrosPrecio.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6 >Selecciona productos para tu mascota</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosMascota.length" v-for="categoria of listaFiltrosMascota" >
                <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name="" :id="listaFiltrosMascota.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6 >Selecciona productos para tu mascota</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPromo.length" v-for="categoria of listaFiltrosPromo" >
                <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name="" :id="listaFiltrosPromo.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

        </aside>
        <div >
          <div class="card-producto" v-if="productosFiltradosFinal.length" v-for="producto of productosFiltradosFinal" >
            <div class="producto"> 
              <a :href="'./detalles.html?id='+producto._id"><div class="producto-img-wrapper"><img :src="producto.imagen" :alt="producto.producto"></div></a>
              <div class="datos-producto">
                <a :href="'./detalles.html?id='+producto._id"><p> {{producto.producto}} </p></a>
                <p class="disponibles-p">Unidades disponibles: {{producto.disponibles}} </p>
                <p v-if="producto.disponibles===0" class="sin-stock">  Sin stock disponible </p>
                <p v-else-if="5>=producto.disponibles>0" class="poco-stock"> Poco stock</p>
                <p class="precio"> ${{producto.precio}} </p>
              </div>
              <div v-if="producto.disponibles===0" class="carrito-wrapper "><img  class="carrito-disabled" src="./assets/images/cart-disabled.png" alt="AGREGAR AL CARRITO"></div>
              <div v-else class="carrito-wrapper"><img @click="agregarCarritoPorBoton(producto)" tabindex="1" class="carrito" src="./assets/images/cart.png" alt="AGREGAR AL CARRITO" data-bs-toggle="modal" data-bs-target="#modalCarrito"></div>
            </div>
           </div>
        </div>
      </section>

    </div>
   
 <!--Footer-->
  
 <footer class="d-lg-flex container-fluid pt-3 text-white  pb-4">

  <!--LOGO-->
  <div class="d-md-flex col-lg-5">
    <div class="d-sm-flex col-md-6 logo-footer align-items-md-center">
        <img class="container-fluid mt-md-0" src="./assets/images/LOGO_HUELLITAS.png" alt="logo" >
    </div>
    <!--contacto-->
    <div class="col-md-6 d-md-flex flex-md-column contacto-contenedor">
      <h4 class="text-center text-lg-start text-md-start ps-lg-2 ">CONTACTO</h4>
      <div class="contacto container-fluid d-md-flex flex-lg-column p-lg-0 container-fluid justify-content-md-around">
        <div class="">
          <p class="contact text-md-start fw-bold"><i class="fa fa-envelope-o fa-fw" aria-hidden="true"></i>&nbsp; EMAIL: <a class="link-white link-white-hover text-decoration-none" href="mailto:huellitas@petshop.arg">huellitas@petshop.arg</a></p>
          <p class="contact text-md-start fw-bold"><i class="fa fa-phone fa-fw" aria-hidden="true"></i>&nbsp; TEL: <a class="link-white link-white-hover text-decoration-none" href="tel:+54 9 11 5555-5974">+54 9 11 5555-5974</a></p>
        </div>
        <div>
          <p class=" text-md-start fw-bold mt-3 mt-md-0"><i class="fa fa-clock-o fa-fw" aria-hidden="true"></i>&nbsp; Horarios de atención</p>
          <p class="contact">Lunes a Sabado</p>
          <p class="contact"> 9:00 a 18:00 hrs.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="d-lg-flex ">
    <!--Mapa-->
    <div class="mt-4 d-lg-flex flex-lg-column col-lg-7 justify-content-lg-around mt-lg-0">
      <h4 class="text-center">NUESTRA TIENDA</h4>
      <ul class="nav  d-md-flex justify-content-center flex-lg-column">
        <li class="text-center"><i class="fa fa-map-marker fa-fw" aria-hidden="true"></i class="contacto-contenedor">&nbsp; Paraguay 2334, CABA</li>
        <li class="col-md-10 mx-md-auto mt-4 justify-content-md-center "><iframe class="mapSize"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2430437270705!2d-58.40568006998262!3d-34.598015217965106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1673755184930!5m2!1ses-419!2scl"
            style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </li>
      </ul>
    </div>

    <!--Siguenos y formas de pago-->
    <div class="mt-3 col-lg-5 mt-lg-0">
      <h4 class="text-center">SÍGUENOS</h4>
      <ul class="list-unstyled d-flex justify-content-around mb-0 mt-3 mx-auto redes">
        <li class=""><a class="link-dark-hover text-muted" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white icono-redes"></i></a></li>
        <li class=""><a class="link-dark-hover text-muted" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white icono-redes"></i></a></li>
        <li class=""><a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-2x text-white icono-redes"></i></a></li>
      </ul>
      <h6 class="text-center mt-3 pt-3">FORMAS DE PAGO</h6>
       <img class="imgFooterFpago row" src="./assets/images/mediosPago.png" alt="metodos de pago">
    </div>
  </div>

</footer>
<section class="section">
  <h4><i class="fas fa-copyright"></i>&nbsp;2023-Todos los derechos reservados-Huellitas-Cohorte 41</h4>
</section>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <script src="./assets/scripts/detalles.js"></script>
</body>
</html>