<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
  <title>Inicio | Huellitas Petshop</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e7963be4ed.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/styles/style.css" />
  <link rel="stylesheet" href="./assets/styles/index.css">
  <link rel="stylesheet" href="./assets/styles/footer.css">
</head>

<body>
  <div id="appIndex">
    <header>
      <nav class="navbar navbar-expand-lg  container-fluid">
        <div class="container-fluid w-100">
          <a class="navbar-brand ms-3 col-6" href="#">
            <img src="./assets/images/LOGO_HUELLITAS.png" alt="logo" class="imglogo col-10 col-md-5 foto-logo " >
          </a>
          <div @click="toggleMenu" class="icono-hamburguesa">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="d-none d-lg-block" :class="{ 'navMovil' : navMenu}">
            <ul class="navbar-nav">
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" aria-current="page" href="#">INICIO</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./contacto.html">CONTACTO</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./farmacia.html">FARMACIA</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./juguete.html">JUGUETES</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./faq.html">FAQ</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./login.html">LOGIN</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>
  
    <main class="index-main">
  
      <div class="d-flex flex-wrap justify-content-end titulo" style="height: 60px;">
          <h1><strong>INICIO</strong></h1>
      </div>
        <template v-if="windowWidth>768">
          <div id="carouselExample" class="carousel carousel-dark slide ">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="./assets/images/BIENVENIDO_HUELLITAS2.png" class="d-block banner" alt="BIENVENIDO" />
              </div>
              <div>
                <div class="carousel-item primer-item">
                  <div class="cards-wrapper">
                    <div class="card card-index primer-item" v-for="producto of productos.slice(0,4)">
                      <a :href="producto.categoria=='farmacia'?'./farmacia.html':'./juguete.html'">
                        <div class="img-wrapper "><img :src="producto.imagen " class="card-img-top"
                            :alt="productos.producto">
                        </div>
                      </a>
                      <div class="card-body">
                        <p class="card-text">{{producto.producto}} </p>
                      </div>
                    </div>
                  </div>
                </div>
  
                <div class="carousel-item segundo-item">
  
                  <div class="cards-wrapper">
                    <div class="card card-index segundo-item" v-for="producto of productos.slice(-4) ">
                      <a :href="producto.categoria=='farmacia'?'./farmacia.html':'./juguete.html'">
                        <div class="img-wrapper"><img :src="producto.imagen " class="card-img-top"
                            :alt="productos.producto">
                        </div>
                      </a>
                      <div class="card-body">
                        <p class="card-text">{{producto.producto}} </p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExample" data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExample" data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </template>
  
  
  
        <!-- MOBILE CAREOUSEL -->
        <template v-else>
         <div class="carousel-wrapper">
            <div id="carouselExampleAutoplaying" class="carousel carousel-dark slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img src="./assets/images/BIENVENIDO__HUELLITASCELULAR.png" id="img-carousel-mobile" class="d-block banner"
                    alt="BIENVENIDO" />
                </div>
  
                <div class="carousel-item" v-for="producto of productos.slice(4,8) ">
                  <div class="cards-wrapper">
                    <div class="card">
                      <a :href="producto.categoria=='farmacia'?'./farmacia.html':'./juguete.html'">
                        <div class="img-wrapper "><img :src="producto.imagen " class="card-img-top"
                            :alt="productos.producto">
                        </div>
                      </a>
                      <div class="card-body">
                        <p class="card-text">{{producto.producto}} </p>
                      </div>
                    </div>
                  </div>
                </div>
  
              </div>
  
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </template>

      
      <section class="seccion-historia row row-cols-lg-2 container-fluid mx-auto m-4 d-lg-flex align-items-lg-center">
        <div class="contenedor-hist-img d-lg-flex">
          <div class="contenedor-historia d-lg-flex flex-lg-column align-items-lg-center my-lg-auto">
              <h3 class="text-center px-3">NUESTRA HISTORIA</h3>
              <p class="texto-historia">
                <strong>
                  Nació de la pasión de un grupo de amantes de las mascotas por brindar productos y servicios de alta calidad para cuidar a nuestros mejores amigos. Con una amplia variedad de productos y un equipo experto siempre dispuesto a ayudar, Huellitas se ha convertido en el lugar favorito de los amantes de las mascotas. ¡Nos encantaría tenerte como parte de nuestra familia y ayudarte a cuidar a tu mascota de la mejor manera!
                </strong> </p>
          </div>
            <div class="contenedor-img-entreda">
              <img class="imagen-entrada" src="./assets/images/entrada.jpg" alt="entrada">
            </div>
        </div>
      </section>
  
  
      <section class="fotosAnchorInd container-fluid col-lg-10 d-md-flex mt-5 mb-5">
        <div class="col-12 col-md-6 d-flex justify-content-center contenedor-img">
          <a href="./farmacia.html" class="d-flex " id="farmaciaInd">
            <p class="text-center py-lg-auto">¡CONOCE NUESTROS PRODUCTOS DE FARMACIA!</p>
          </a>
        </div>
  
        <div class="fotosAnchorInd col-12 col-md-6 d-flex justify-content-center">
          <a href="./juguete.html" class="d-flex " id="jugueteriaInd">
            <p class="text-center py-lg-auto">¡CONOCE NUESTROS PRODUCTOS DE JUGUETERIA!</p>
          </a>
        </div>
      </section>
  
    </main>
    
   <!--Footer-->
   <footer>
    <div ><iframe class="mapa__footer"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2430437270705!2d-58.40568006998262!3d-34.598015217965106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1673755184930!5m2!1ses-419!2scl"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contenedor__footer">
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">CONTACTO</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">email: huellitas@petshop.arg</p>
        <p class="mb-0 text-white">teléfono: +54 9 11 5555-5974</p>
      </div>
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">HORARIOS DE ATENCIÓN</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">Lunes a Sábados</p>
        <p class="mb-0 text-white">9:00 a 18:00 hrs.</p>
      </div>
      <!-- <div>
        <h5 class="mb-0 text-white fw-bold">NUESTRA TIENDA</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">Paraguay 2334</p>
        <p class="mb-0 text-white">Ciudad autónoma de Buenos Aires</p>
      </div> -->
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">SÍGUENOS</h5>
        <hr class="my-0 text-white">
        <div class="redes__footer">
          <div ><a class="link-dark-hover text-muted" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-2x text-white icono-redes"></i></a></div>
        </div>
      </div>
      <div>
        <h5 class="mb-0 text-white fw-bold">FORMAS DE PAGO</h5>
        <hr class="my-0 text-white mt-3">
        <div class="pagos__footer">
          <img class="" src="./assets/images/mediosPago.png" alt="metodos de pago">
        </div>
      </div>
    </div>
   </footer>
  
  <section class="section__footer">
    <p class="footer-p"><i class="fas fa-copyright"></i>&nbsp;2023-Todos los derechos reservados-Huellitas-Cohorte 41</p>
  </section>
  </div>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/scripts/index.js"></script>
</body>

</html>