<!doctype html>
<html lang="es">

<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="shortcut icon" href="./assets/images/favicon.png" type="image/x-icon">
  <title>Farmacia | Huellitas Petshop</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap" rel="stylesheet">
  <script src="https://kit.fontawesome.com/e7963be4ed.js" crossorigin="anonymous"></script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous" />
  <link rel="stylesheet" href="./assets/styles/style.css" />
  <link rel="stylesheet" href="./assets/styles/index.css">
  <link rel="stylesheet" href="./assets/styles/footer.css">

</head>

<body>
  <div id="app">
    <header>
      <nav class="navbar navbar-expand-lg  container-fluid">
        <div class="container-fluid w-100">
          <a class="navbar-brand ms-3 col-6" href="./index.html">
            <img src="./assets/images/LOGO_HUELLITAS.png" alt="logo" class="imglogo col-10 col-md-5 foto-logo " >
          </a>
          <div @click="toggleMenu" class="icono-hamburguesa">
            <i class="fa-solid fa-bars"></i>
          </div>
          <div class="d-none d-lg-block" :class="{ 'navMovil' : navMenu}">
            <ul class="navbar-nav">
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" aria-current="page" href="./index.html">INICIO</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./contacto.html">CONTACTO</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./farmacia.html">FARMACIA</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./juguete.html">JUGUETES</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./faq.html">FAQ</a>
                </li>
                <li class="nav-item nav-button">
                  <a class="nav-link text-center fw-bold" href="./login.html">LOGIN</a>
                </li>
              </ul>
          </div>
        </div>
      </nav>
    </header>
    <main>
      <div class="d-flex justify-content-end titulo" style="height: 60px;">
        <h1><strong>JUGUETES</strong></h1>
        <div v-if="!productosCarrito.length" class="carrito-wrapper-nav" data-bs-toggle="modal"
          data-bs-target="#modalCarrito"><img class="carrito-nav" src="./assets/images/cart-nada.png" alt="CARRITO">
        </div>
        <div v-else class="carrito-wrapper-nav" data-bs-toggle="modal" data-bs-target="#modalCarrito"><img
            class="carrito-nav" src="./assets/images/cart-nada.png" alt="CARRITO">
          <p class="cant-productos">{{unidades}}</p>
        </div>
      </div>
     
      <select v-model="valorOrdenamiento" @click="renderizarOrdenado()" class="form-select select-ordenar" aria-label="Default select example">
        <option selected value="1">Mayor stock</option>
        <option value="2">Menor stock</option>
        <option value="3">Mayor precio</option>
        <option value="4">Menor precio</option>
      </select>

      <!-- MODALES -->

      <div class="modal fade" id="modalVenta" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Compra Confirmada</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              ¡GRACIAS POR SU COMPRA! Estaremos comunicandonos a la brevedad.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade" id="modalFarmaciaVaciar" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="exampleModalLabel">Carrito Vacio</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              El carrito ha sido vaciado.
            </div>
          </div>
        </div>
      </div>

      <div class="modal fade modal-dialog-scrollable modal-carrito modal-lg  " id="modalCarrito"
        data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel"
        aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h1 class="modal-title fs-5" id="staticBackdropLabel">Carrito de Compras</h1>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <table class="w-100">
                <colgroup>
                  <col span="5" class="total">
                </colgroup>
                <thead>
                  <tr>
                    <th style="text-align: center">Nombre</th>
                    <th style="text-align: center">Precio</th>
                    <th style="text-align: center">Cantidad</th>
                    <th style="text-align: center">Subtotal</th>
                    <th style="text-align: center">Descuento</th>
                    <th style="text-align: right">Total</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-if="productosModif.length" v-for="producto of productosCarrito">
                    <td style="text-align: center"> {{producto.producto}} </td>
                    <td style="text-align: center"> $ {{producto.precio}} </td>
                    <td style="text-align: center">
                      <i @click="quitarDesdeCarrito(producto)" class="fa-solid fa-minus"></i> 
                      {{producto.cantPedida}} 
                      <i v-if="producto.cantPedida < productosModif.find(prod => prod._id == producto._id).disponibles" @click="agregarDesdeCarrito(producto)" class="fa-solid fa-plus"></i>
                      <i v-else class="fa-solid fa-plus icono-mas"></i>
                    </td>
                    <td style="text-align: center"> $ {{producto.subtotal}} </td>
                    <td style="text-align: center"> $ {{producto.descuento}}</td>
                    <td style="text-align: right"> $ {{producto.total}} </td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td>Total de la compra:</td>
                    <td colspan="5" style="text-align: right"> $ {{totalCompra}} </td>
                  </tr>
                </tfoot>

              </table>
            </div>
            <div class="modal-footer">
              <button v-if="productosCarrito.length" @click="limpiarLocalStorage" type="button"
                class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#modalVenta">Confirmar la compra</button>
              <button v-else type="button" class="btn btn-primary">Confirmar la compra</button>
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver a la Web</button>
              <button v-if="productosCarrito.length" @click="limpiarLocalStorage" type="button"
                class="btn btn-secondary" data-bs-dismiss="modal" data-bs-toggle="modal"
                data-bs-target="#modalFarmaciaVaciar">Vaciar Carrito</button>
              <button v-else type="button" class="btn btn-primary">Vaciar Carrito</button>
            </div>
          </div>
        </div>
      </div>

      <!-- CIERRA MODALES -->

      <section class="filtros-productos d-flex  ">
        <aside v-if="windowWidth>1000"
          class="filtros-aside checkbox d-flex flex-column justify-content-start col-md-6 mx-lg-5 mx-md-auto col-lg-3 ">
          <form class="d-flex m-3 flex-column" role="search" id="search">
            <h6>Búsqueda por producto</h6>
            <input v-model="productosPorBusqueda" @input="filtroCruzado" class="form-control" type="search"
              placeholder="Ingresa el nombre de producto" aria-label="Search" id="searchField">
          </form>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6>Elige el rango de precio</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPrecio.length"
              v-for="categoria of listaFiltrosPrecio">
              <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name=""
                :id="listaFiltrosPrecio.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6>Selecciona productos para tu mascota</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosMascota.length"
              v-for="categoria of listaFiltrosMascota">
              <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name=""
                :id="listaFiltrosMascota.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

          <div class="container row btn-group d-flex col-11" id="checkboxs" role="group" data-bs-toggle="buttons">
            <h6>Selecciona productos para tu mascota</h6>
            <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPromo.length"
              v-for="categoria of listaFiltrosPromo">
              <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria" name=""
                :id="listaFiltrosPromo.indexOf(categoria)" autocomplete="off"> {{categoria}}
            </label>
          </div>

          <!--carrusel-->
          <div id="carouselExampleDark" class="carousel carousel-aside carousel-dark slide bg-carrousel"
            data-bs-ride="carousel">
            <div class="carousel-indicators bg-carrousel">
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="2"
                aria-label="Slide 3"></button>
              <button type="button" data-bs-target="#carouselExampleDark" data-bs-slide-to="3"
                aria-label="Slide 4"></button>
            </div>
            <div class="carousel-inner bg-carrousel">
              <div class="carousel-item active bg-carrouselImg" data-bs-interval="10000" class="active"
                aria-current="true">
                <img src="./assets/images/D_NQ_NP_927263-MLA48305114986_112021-O.jpg"
                  class="img-perro bg-carrouselImg d-block w-100" alt="leche perro">

              </div>
              <div class="carousel-item bg-carrouselImg" data-bs-interval="2000">
                <img src="./assets/images/oferta 2x.png" class="img-perro bg-carrouselImg d-block w-100" alt="ofertax2">

              </div>
              <div class="carousel-item bg-carrouselImg" data-bs-interval="2000">
                <img src="./assets/images/oferta.png" class="img-perro bg-carrouselImg d-block w-100" alt="oferta">
              </div>
              <div class="carousel-item bg-carrouselImg">
                <img src="./assets/images/leche gato.png" class="img-perro bg-carrouselImg d-block w-100"
                  alt="leche gato">
              </div>
            </div>
            <button class="carousel-control-prev " type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Anterior</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleDark"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Siguiente</span>
            </button>
          </div>
          <!--fin carrusel-->
        </aside>

        <template v-else>
          <!--------------------------------------------------------- Button trigger modal FILTROS-->
          <button type="button" class="btn btn-primary " data-bs-toggle="modal" data-bs-target="#exampleModal">
            Filtros
          </button>

          <!-- Modal -->
          <div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
            aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title fs-5" id="exampleModalLabel">Modal title</h1>
                  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                  <h6>Búsqueda por producto</h6>
                  <input v-model="productosPorBusqueda" @input="filtroCruzado" class="form-control" type="search"
                    placeholder="Ingresa el nombre de producto" aria-label="Search" id="searchField">

                  <h6>Elige el rango de precio</h6>
                  <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPrecio.length"
                    v-for="categoria of listaFiltrosPrecio">
                    <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria"
                      name="" :id="listaFiltrosPrecio.indexOf(categoria)" autocomplete="off"> {{categoria}}
                  </label>

                  <h6>Selecciona productos para tu mascota</h6>
                  <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosMascota.length"
                    v-for="categoria of listaFiltrosMascota">
                    <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria"
                      name="" :id="listaFiltrosMascota.indexOf(categoria)" autocomplete="off"> {{categoria}}
                  </label>

                  <h6>Selecciona productos para tu mascota</h6>
                  <label class="btn btn-outline-secondary d-flex" v-if="listaFiltrosPromo.length"
                    v-for="categoria of listaFiltrosPromo">
                    <input type="checkbox" class="me-2" @change="filtroCruzado" v-model="checks" :value="categoria"
                      name="" :id="listaFiltrosPromo.indexOf(categoria)" autocomplete="off"> {{categoria}}
                  </label>
                </div>
                <div class="modal-footer">
                 
                </div>
              </div>
            </div>
          </div>
        </template>


        <div class="card-prod-wrapper">
          <div class="card-producto" v-if="productosFiltradosFinal.length" v-for="producto of productosFiltradosFinal">
            <div class="producto">
              <a :href="'./detalles.html?id='+producto._id">
                <div class="producto-img-wrapper"><img :src="producto.imagen" :alt="producto.producto"></div>
              </a>
              <div class="datos-producto">
                <a :href="'./detalles.html?id='+producto._id">
                  <p> {{producto.producto}} </p>
                </a>
                <p class="disponibles-p">Unidades disponibles: {{producto.disponibles}} </p>
                <p v-if="producto.disponibles===0" class="sin-stock"> Sin stock disponible </p>
                <p v-else-if="5>=producto.disponibles>0" class="poco-stock"> Poco stock</p>
                <p class="precio"> ${{producto.precio}} </p>
                <template v-for="promo of productosPromo3x2">
                  <p v-if="producto._id === promo" class="">Tiene promoción</p>
                </template>
              </div>
              <template v-if="windowWidth>700">
              <div v-if="producto.disponibles===0" class="carrito-wrapper "><img class="carrito-disabled"
                  src="./assets/images/cart-disabled.png" alt="AGREGAR AL CARRITO"></div>
              <div v-else class="carrito-wrapper"><img @click="agregarCarritoPorBoton(producto)" tabindex="1"
                  class="carrito" src="./assets/images/cart.png" alt="AGREGAR AL CARRITO" data-bs-toggle="modal"
                  data-bs-target="#modalCarrito"></div></template>
                  <template v-else>
                    <div class=" d-flex">
                      <a  v-if="producto.disponibles!==0" @click="agregarCarritoPorBoton(producto)" href="#" class="button" data-bs-toggle="modal"
                      data-bs-target="#modalCarrito" >+ Agregar al carrito</a> 
                      <a v-else href="#" class="button-disabled">Sin stock</a>
                    </div>
                  </template>
            </div>
          </div>
        </div>
      </section>

    </main>

  <!--Footer-->
  
  <footer>
    <div ><iframe class="mapa__footer"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3284.2430437270705!2d-58.40568006998262!3d-34.598015217965106!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x95bcca9158e82c41%3A0xafb5fe117a2c5a52!2sParaguay%202334%2C%20C1121ABL%20CABA%2C%20Argentina!5e0!3m2!1ses-419!2scl!4v1673755184930!5m2!1ses-419!2scl"
      style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
    <div class="contenedor__footer">
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">CONTACTO</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">email: huellitas@petshop.arg</p>
        <p class="mb-0 text-white">teléfono: +54 9 11 5555-5974</p>
      </div>
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">HORARIOS DE ATENCIÓN</h5>
        <hr class="my-0 text-white">
        <p class="mb-0 text-white">Lunes a Sábados</p>
        <p class="mb-0 text-white">9:00 a 18:00 hrs.</p>
      </div>
      <div class="info__footer">
        <h5 class="mb-0 text-white fw-bold">SÍGUENOS</h5>
        <hr class="my-0 text-white">
        <div class="redes__footer">
          <div ><a class="link-dark-hover text-muted" href="https://www.instagram.com/"><i class="fa-brands fa-instagram fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://www.facebook.com/"><i class="fa-brands fa-facebook fa-2x text-white icono-redes"></i></a></div>
          <div ><a class="link-dark-hover text-muted" href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp fa-2x text-white icono-redes"></i></a></div>
        </div>
      </div>
      <div>
        <h5 class="mb-0 text-white fw-bold">FORMAS DE PAGO</h5>
        <hr class="my-0 text-white mt-3">
        <div class="pagos__footer">
          <img class="" src="./assets/images/mediosPago.png" alt="metodos de pago">
        </div>
      </div>
    </div>
  </footer>
  <section class="section__footer">
    <p class="footer-p"><i class="fas fa-copyright"></i>&nbsp;2023-Todos los derechos reservados-Huellitas-Cohorte 41</p>
  </section>
</div>


  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
    crossorigin="anonymous"></script>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script src="./assets/scripts/productos.js"></script>
</body>

</html>