* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

main {
  display: flex;
  flex-direction: column;
  gap: 5vh;
}

body {
  font-family: "Lato", sans-serif;
  min-height: 100vh;
  background: rgb(65, 125, 122);
  background: linear-gradient(
      90deg,
      rgba(65, 125, 122, 0.7) 0%,
      rgba(135, 173, 171, 0.7) 50%,
      rgba(65, 125, 122, 0.7) 100%
    ),
    url("../images/background-huellas.png");
  background-size: contain;
}

ol {
  list-style: none;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: left;
}

form > .btn {
  width: 25%;
}

input,
select,
textarea {
  border: none;
}

nav {
  background-color: #039097c2;
}



.formulario {
  margin: 5rem;
}

.logo-formulario {
  margin: auto;
  width: 5vw;
}

.logo-formulario img {
  width: 100%;
}

.formularioAdentro {
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}

.mb-3 {
  display: flex;
  flex-direction: column;
}


/*body{
    background-color: #6cdee4;
}*/

.cards-wrapper {
  display: flex;
  justify-content: center;
}

.card {
  background-color: #23cbd385;
  border: none;
  width: 230px;
  height: 300px;
  margin: 1rem;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 6s ease-in-out infinite;
  border-radius: 20px;
}


@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}

.card:hover {
  transform: scale(1.6);
  transition-timing-function: ease-in;
  transition: 0.2s;
}

.card-text {
  text-align: center;
  font-weight: bold;
}

.card-body {
  align-items: baseline;
}

.carousel {
  margin: 0 auto;
  width: 80%;
}

.carousel-wrapper {
  max-height: 6rem;
}

#carouselExample {
  display: flex;
  align-items: center;
  height: 320px;
  margin-top: 4rem;
}

.filtros-productos {
  margin: auto;
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  width: 90%;
  border-radius: 8px;
}

.filtros-aside {
  border-radius: 8px;
  height: 44rem;
  align-items: center;
  padding-bottom: 2rem;
  background-color: white;
  border: 0.5px solid lightgray;
}


.filtros-aside label{
  border-radius: 8px!important;
  color: #3c4048;
  font-size: 14px;
  background-color: #3dc2c9bd;
}

.filtros-aside div{
  background-color: #3468e01a;
  padding: 1.6rem 1.1rem;
}

.filtros-aside h6{
  text-align: center;
  font-size: 16px;
  font-weight: bold;
}

.seccion-productos {
  min-height: 80%;
}

.producto {
  background-color: rgba(255, 255, 255, 0.76);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  margin: 0.5rem 0;
  width: 50vw;
}

.disponibles-p{
  font-weight: lighter;
}

.img-wrapper {
  height: 230px;
}

.img-wrapper > img {
  /* background-color: #302b47ab; */
  border-radius: 1rem;
  padding: 1rem;
  width: 100%;
  height: 100%;
}

.img-producto-wrapper{
  width: 230px;
  height: 230px;
}

.producto-img-wrapper {
  width: 250px;
  height: 250px;
}

.producto img {
  width: 100%;
  height: 100%;
  border-radius: 0.5rem;
}

.datos-producto{
  margin-left: 1rem;
}

.datos-producto a {
  text-decoration: none;
  font-weight: bold;
  color: black;
}

.precio {
  color: #43af11;
}

.poco-stock {
  color: #c1423f;
}

.sin-stock {
  color: lightslategray;
}

.formulario .bg-light {
  --bs-bg-opacity: 0.7;
}

.contenedor-hist-img{
  background-image: url('../images/huellas.png');
  /* background-color: #00aab2; */
  /* background: linear-gradient(0deg, rgba(0, 169, 178, 0) 0%, rgba(0,170,178,0) 89%); */
  background-size: contain;
  box-shadow: 5px 6px 5px 3px rgba(0,0,0,0.49);
  border-radius: 5px;
  padding: 10px;
  margin: 0 auto;
  width: 90%;
}

.contenedor-hist-img h3{
  padding-top: 4px;
  border-radius: 3px;
  background-color: #3c4048;
  color: #EAEAEA;
}

.contenedor-img-entreda{
  width: 100%;
}

.imagen-entrada{
  border-radius: 5px;
  width: 100%;
}



.btn,
.btn-primary {
  --bs-btn-bg: rgba(214, 143, 143, 0.856) !important ;
  --bs-btn-color: rgb(119, 119, 190) !important;
  --bs-btn-border-color: rgba(214, 143, 143, 0.164) !important;
  margin: 0.2rem !important;
  font-weight: bold !important;
  border-radius: 1.5rem !important;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
  color: rgb(87, 87, 138) !important;
  background-color: rgba(175, 115, 115, 0.856) !important;
  border-color: rgba(77, 50, 50, 0.856) !important;
}

.modal {
  opacity: 90%;
}

.modal h1{
  color: #165692;
  text-align: start;
  padding-left: 2rem;
}

.modal h4{
  color: #00ABB3;
  margin: 1rem;
  text-align: center;
}

.modal-header{
  border-bottom: 1px solid #00ABB3 ;
}

.modal-footer{
  border-top: 1px solid #00ABB3 ;
}

.logo-modal{
  width: 4rem;
}

.logo-modal img{
  width: 100%;
}

body{
  min-height: 100vh;
  background-image:linear-gradient( #eaeaea9d,#00aab3a9 ), url('../images/background-huellas.png');
background-size: contain;
}
.navbar{
  background-color:#3C4048;
}
.nav-button{
    font-size: 12px;
    color: white;
    margin: 0 0.5rem;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    background-color:#3C4048;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(249, 249, 249, 0.048);
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  
  .nav-button:hover {
    background-color: #00ABB3;
    box-shadow: 0px 15px 20px #00ABB3;
    transform: translateY(-7px);
}
.nav-button a{
 color: white;
}
.foto-logo{
  height: 90%;
}
header{
  height: 10%;
}

.titulo{
  max-height: 40px;
  background: linear-gradient(  #00ABB3,#00ABB3);
}
h1{
  width: 100%; 
  height: 100%;
  padding-top: 0.2rem;
  font-size: 1.8rem;
  text-align: center;
  color:#3C4048;
}

.iconSize {
  font-size: 30px;
  size: 40px;
}

.imgFooterFpago {
  width: 50% !important;
  margin: 0 auto;
}
.mapSize {
  width: 100%;
}

.link-dark-hover:hover {
  color: #fff !important;
}

.contacto {
  list-style: none;
  padding-left: 4rem;
  /* text-align: center; */
}

.redes {
  width: 80%;
}

.icono-redes {
  font-size: 2rem;
}

.contacto-contenedor {
  font-size: 12px;
  justify-content: space-around;
}

.contact {
  margin: 0;
}

.carrito-wrapper{
  width: 5rem;
  margin-left: auto;
  margin-top: auto;
  padding-right:  2.5rem;
  padding-bottom: 2rem;
}


.carrito:hover{
  transform: scale(1.1) translatey(-1rem);
  background-color: #00aab34d;
}

.carrito:active{
  background-color: #105a5e;
}

.carrito{
  transition: all .2s ease-in-out;
  width: 100%;
}

/*/////////////////////////INICIO/////////////////////////*/

#farmaciaInd {
  background-image: url(../images/farmacia.jpg);
  background-size: cover;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0);
  min-height: 8rem;
  margin-bottom: 3vh;
  border-radius: 5px;
}

#farmaciaInd:hover {
  background-color: rgba(0, 0, 0, 0.484);
  background-blend-mode: darken;
  color: white;
}

#jugueteriaInd:hover {
  background-color: rgba(0, 0, 0, 0.484);
  background-blend-mode: darken;
  color: white;
}


#jugueteriaInd {
  background-image: url(../images/jugueteria.jpg);
  background-size: cover;
  background-position: center;
  width: 90%;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-weight: bolder;
  color: rgba(255, 255, 255, 0);
  min-height: 8rem;
  margin-bottom: 3vh;
  border-radius: 5px;
}

/*//////////////////////////PRODUCTOS//////////////////////*/

#search {
  width: 80%;
}

  /*/////////////////////////INICIO/////////////////////////*/

  #farmaciaInd {
    background-image: url(../images/farmacia.jpg);
    background-size: cover;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0);
    min-height: 8rem;
    margin-bottom: 3vh;
    border-radius: 5px;
  }

  #farmaciaInd:hover {
    background-color: rgba(0, 0, 0, 0.484);
    background-blend-mode: darken;
    color: white;
  }
  .img-entrada{
    width: 550px;
    height: 500px;
    padding: 5%;
  }

  #jugueteriaInd {
    background-image: url(../images/jugueteria.jpg);
    background-size: cover;
    background-position: center;
    width: 90%;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    font-weight: bolder;
    color: rgba(255, 255, 255, 0);
    min-height: 8rem;
    margin-bottom: 3vh;
    border-radius: 5px;
  }

  #jugueteriaInd:hover {
    background-color: rgba(0, 0, 0, 0.484);
    background-blend-mode: darken;
    color: white;
  }
/*//////////////////////////DETALLES///////////////////////*/

footer{
  background-color: #3C4048;
}
.section{
  text-align: center;
  background-color: #B2B2B2;
}

.text-center {
  justify-content: center;
  align-content: center;
}

 .modal-carrito {
    opacity: 100%;
  }

/*/////////////////////////MEDIA QUERY////////////////////*/

@media (min-width: 768px) {
  .logo-footer {
    /* background-color: #000; */
    height: 11rem;
  }
  .imgFooterFpago {
    width: 60%;
  }
  .contacto {
    padding-left: 0;
  }
  #farmaciaInd span {
    font-size: 11px;
  }
  #jugueteriaInd span {
    font-size: 11px;
  }
  .contenedor-hist-img{
    margin-top: 4rem;
  }
}

@media (min-width: 992px) {
  .icono-redes {
    font-size: 1.6rem;
  }
  .imgFooterFpago {
    width: 75%;
  }
  #farmaciaInd span {
    font-size: 14px;
  }
  #jugueteriaInd span {
    font-size: 14px;
  }
  .contenedor-img {
    height: 12rem;
  }
 .filtros-aside {
    position: relative;
    margin-top: 1.2rem;
  }
  .contenedor-hist-img{
    display: flex;
    justify-content: space-around;
    padding: 30px 0;
  }
 
  .contenedor-historia{
    width: 30%;
  }
  .contenedor-img-entreda{
    width: 50%;
  }

  .filtros-aside label{
    font-size: 13px;
  }
  
  .filtros-aside h6{
    font-size: 15px;
  }
}


@media (max-width: 1025px) {
  .card:nth-last-child(2) {
    display: none;
  }

  .carousel{
    margin-bottom: 4rem;
    height: 332px;
    margin-top: 2rem;
  }

  #img-carousel-mobile{
    margin: auto;
    width: 60vw;
  }

.carousel-wrapper{
  position: relative;
}


}

@media (max-width: 375px){
  #section-msg-index{
    padding-top: 15rem;
  }

  #img-carousel-mobile{
    width:82vw ;
  }
}

@media (max-width: 768px){
  .seccion-historia{
    padding-top: 15rem;
  }
  
}